body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

.center {
    text-align: center;
    margin: auto;
}

.border {
    border: 2px solid black;
    padding: 5px;
}

h1 {
    color: rgb(49, 157, 193);
}

p {
    color: rgb(49, 157, 193);
}

h2 {
    color: rgb(49, 157, 193);
}

h3 {
    color: rgb(49, 157, 193);
}