body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

.center {
    margin: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    border: 3px solid black;
}

.border {
    border: 2px solid black;
    padding: 5px;
}

h1 {
    background-color: rgb(152, 206, 224);
}

p {
    background-color: rgb(152, 206, 224);
}